<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trello Board URL</title>
</head>
<body>
    <h1>Enter Trello Board URL:</h1>
    <form action="/trello/submit" method="POST">
        <label for="boardUrl">Trello Board URL:</label>
        <input type="text" id="boardUrl" name="boardUrl" placeholder="https://trello.com/b/boardId">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
